
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<html>
<body>

    <div class="header">
        <h1>دانشگاه جامع علمی کاربردی لرستان</h1>
    </div>

    <div class="topnav">
        <a href="#">خانه</a>
        <a href="#">ورود</a>
        <a href="#">درباره ما</a>
    </div>

    <div class="column">
        <h2>Column</h2>
        <p>Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
    </div>

    <div class="footer">
        <p>Footer</p>
    </div>

</body>
</html>
